<div class="input-section">
  <p-toast></p-toast>
  <div class="custom-input-container">
    <div class="input-wrapper">
      <i class="pi pi-envelope"></i>
      <input
        type="email"
        [(ngModel)]="emailValue"
        placeholder="Insira seu Email"
        autocomplete="off"
      />
    </div>
    <button
      pTooltip="Insira um e-mail válido"
      tooltipPosition="right"
      showDelay="1000"
      placeholder="Top"
      class="submit-button"
      (click)="onSubmit()"
      [disabled]="!isValidEmail() || loading"
    >
      <i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
      <span>{{ loading ? "Enviando..." : "Enviar" }}</span>
    </button>
  </div>

  <div class="credentials">
    <div class="credential-item">
      <i class="pi pi-check-circle"></i>
      <span>Certificado de Desenvolvedor Web/Mobile</span>
    </div>
    <div class="credential-item">
      <i class="pi pi-star-fill"></i>
      <span>4.95 Avaliação Média</span>
    </div>
  </div>
</div>
