@use "sass:color";
@use "../../../assets/styles/variables" as vars;

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 720px) {
    padding: 0 1rem;
  }
}

.custom-input-container {
  background: color.adjust(vars.$color-platinum-light, $lightness: 2%);
  border-radius: 100px;
  padding: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid vars.$color-taupe-gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 450px;

  @media (max-width: 720px) {
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    padding: 0.75rem;
    width: 100%;
    max-width: 100%;
  }
}

.input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  @media (max-width: 720px) {
    justify-content: center;
  }

  i {
    color: vars.$color-black;
    font-size: 1.1rem;
    padding: 12px;
    background-color: color.adjust(vars.$color-primary-orange, $lightness: 30%);
    border-radius: 50%;

    @media (max-width: 720px) {
      padding: 8px;
      font-size: 1rem;
    }
  }

  input {
    border: none;
    outline: none;
    padding: 0.75rem 0.5rem;
    width: 100%;
    font-size: vars.$font-size-mlarge;
    background: transparent;
    text-align: left;

    @media (max-width: 720px) {
      font-size: vars.$font-size-base;
      padding: 0.5rem;
      text-align: center;
    }

    &::placeholder {
      color: vars.$color-black;
    }
  }
}

.submit-button {
  background: vars.$color-primary-orange;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 0.75rem 2rem;
  font-size: vars.$font-size-small !important;
  font-weight: vars.$font-weight-semibold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i {
    font-size: 1rem;
  }

  @media (max-width: 720px) {
    width: 100%;
    padding: 0.75rem;
    margin-top: vars.$spacing-tiny;
    border-radius: 20px;
    font-size: vars.$font-size-base;
  }

  &:disabled {
    background: vars.$color-platinum;
    cursor: not-allowed;
  }
}

.credentials {
  display: flex;
  gap: 1rem;
  padding: 0 vars.$spacing-large;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
  }

  .credential-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: vars.$color-black;
    font-size: 0.9rem;
    font-weight: vars.$font-weight-semibold;

    @media (max-width: 720px) {
      font-size: 0.8rem;
    }

    i {
      color: vars.$color-black;
      font-size: 1rem;
    }
  }
}
