@use "../../../assets/styles/variables" as vars;
@use "sass:color";

.offices-page {
  width: 100;
  background-color: white;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.services-section {
  padding: 4rem 0;
}

.services-header {
  display: flex;
  align-items: flex-start;
  gap: 11rem;
  margin-bottom: 3rem;
  text-align: left;
  max-width: 1200px;

  h2 {
    font-weight: vars.$font-weight-semibold;
    font-size: 3.5rem;
    color: vars.$color-primary-orange;
    white-space: nowrap;
  }

  .services-description {
    font-weight: vars.$font-weight-semibold;
    font-size: vars.$font-size-large;
    color: vars.$color-gray;
    line-height: 1.2;
    flex: 1;
    margin: 0.5rem 0 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.hire-section {
  padding: 4rem 0;
}

.hire-content {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.hire-image-container {
  flex: 1;

  .profile-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.hire-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .hire-title {
    font-weight: vars.$font-weight-semibold;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: vars.$color-black;

    .highlight {
      color: vars.$color-primary-orange;
    }
  }

  .hire-description {
    font-weight: vars.$font-weight-semibold;
    font-size: vars.$font-size-base;
    color: vars.$color-gray;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: justify;
  }
}

.metrics {
  display: flex;
  justify-content: start;
  gap: 6rem;
  margin-bottom: 2rem;

  .metric {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-tiny;

    .metric-value {
      font-size: vars.$font-size-heading-2;
      font-weight: vars.$font-weight-semibold;
      color: vars.$color-black;
      line-height: 1;
    }

    .metric-label {
      font-size: 1rem;
      font-weight: 500;
      color: vars.$color-gray;
      line-height: 1.4;
      max-width: 200px;
    }
  }
}

.contact-button {
  ::ng-deep {
    .p-button {
      padding: 1rem 2rem;
      border-width: 2px;
      border-radius: vars.$border-radius-large;
      font-size: vars.$font-size-large;

      &:hover {
        border: 2px vars.$color-primary-orange solid !important;
        background-color: color.adjust(
          vars.$color-primary-orange,
          $lightness: 45%
        ) !important;

        .p-button-label {
          color: vars.$color-primary-orange;
        }
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 968px) {
  .hire-content {
    flex-direction: column;
    text-align: center;
  }

  .hire-image-container {
    display: none;
  }

  .hire-info {
    align-items: center;
    text-align: center;

    .contact-button {
      justify-content: center;

      &:hover {
        border-width: 2px;
      }
    }
  }

  .metrics {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .services-header {
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: vars.$font-size-heading-1;
    }
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .hire-section {
    .hire-title {
      font-size: vars.$font-size-heading-1;
    }
  }
}
