<div class="carousel-container">
  <p-carousel
    [value]="projects"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="4300"
  >
    <ng-template let-project pTemplate="item">
      <div
        class="project-card"
        [class.show-content]="project.isHovered"
        (mouseenter)="onMouseEnter(project)"
        (mouseleave)="onMouseLeave(project)"
      >
        <div class="project-image">
          <img [src]="project.image" [alt]="project.title" />
        </div>
        <div class="project-content">
          <div class="project-actions">
            <app-project-buttons
              [githubUrl]="project.githubUrl"
              [siteUrl]="project.siteUrl"
            ></app-project-buttons>
          </div>
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="category-filters">
    <button
      pButton
      label="Landing Page"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="Sites"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="Sistemas Web"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="App Mobile"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="E-commerces"
      class="p-button-rounded p-button-text"
    ></button>
  </div>
</div>
