@use "sass:color";
@use "../../../assets/styles/variables" as vars;

:host ::ng-deep {
  .container {
    display: inline-flex;
    padding: 6px;
    border: 1px solid rgba(vars.$color-black, 0.6);
    background: rgba(color.adjust(vars.$color-taupe-gray, $alpha: -0.9), 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 25px;
  }

  .p-button {
    font-weight: vars.$font-weight-semibold;
    transition: all 0.2s ease;
  }

  .gray-button .p-button-label {
    color: vars.$color-black;
  }
}
