@use "../../../../assets/styles/variables" as vars;
@use "sass:color";

.button-group {
  display: flex;
  align-items: center;
  gap: vars.$spacing-small;

  a {
    text-decoration: none;
    transition: transform vars.$transition-speed-medium ease;
    width: 100%; // Ensure full width for flexibility
  }

  ::ng-deep .p-button {
    font-family: vars.$font-family-primary;
    font-weight: vars.$font-weight-semibold;
    width: 100%;
  }

  ::ng-deep .p-button.p-button-outlined {
    color: white;
    border-color: white;
    transition: all vars.$transition-speed-medium ease;

    .p-button-icon {
      color: white;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-color: white;
      transform: translateY(-2px);
    }
  }

  ::ng-deep .p-button:not(.p-button-outlined) {
    background: vars.$color-primary-orange;
    border: none;
    transition: all vars.$transition-speed-medium ease;

    &:hover {
      background: color.adjust(vars.$color-primary-orange, $lightness: 5%);
      transform: translateY(-2px);
    }
  }

  // Tablets e dispositivos médios
  @media screen and (max-width: 852px) {
    flex-direction: row;
    ::ng-deep .p-button {
      font-size: vars.$font-size-small;
      padding: vars.$spacing-tiny vars.$spacing-small;

      .p-button-icon {
        font-size: vars.$font-size-small;
      }
    }
  }

  // Dispositivos móveis
  @media screen and (max-width: 576px) {
    flex-direction: row;
    width: 100%;
    gap: vars.$spacing-tiny;

    ::ng-deep .p-button {
      font-size: vars.$font-size-small;
      padding: vars.$spacing-tiny vars.$spacing-tiny;
      justify-content: center;

      .p-button-icon {
        font-size: vars.$font-size-small;
      }
    }
  }
}
