<div class="blog-pages">
  <section class="blog-section">
    <!-- Seção de Inscrição por Email -->
    <div class="email-subscription">
      <h2>
        Tem uma ideia de projeto incrível? <br />
        <span class="highlight">Vamos conversar</span>!
      </h2>

      <app-email-input></app-email-input>
    </div>

    <div class="separator"><hr /></div>
    <!-- Seção de Posts do Blog -->
    <div class="blog-posts">
      <div class="section-header">
        <div class="titles">
          <h2>
            Veja minhas últimas <br />
            <span class="highlight">Postagens no Blog</span>
          </h2>
        </div>
        <!-- TODO ajustar link para página correta -->
        <app-ver-mais-button route="#" />
      </div>

      <div class="posts-grid">
        <div *ngFor="let post of blogPosts" class="post-card">
          <div
            class="post-image"
            [style.backgroundImage]="'url(' + post.image + ')'"
          >
            <div class="arrow-icon">
              <!-- TODO ajustar link para página correta -->
              <a href="#" target="_blank">
                <p-button
                  icon="pi pi-arrow-right"
                  size="large"
                  [rounded]="true"
                ></p-button>
              </a>
            </div>
          </div>
          <div class="post-content">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <div class="post-meta">
              <div class="date-inline">
                <i class="pi pi-calendar"></i>
                <span class="date">{{ post.date }}</span>
              </div>
              <p-tag
                class="category"
                severity="warn"
                value="{{ post.category }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
