<div class="blog-pages">
  <section class="blog-section">
    <!-- Seção de Links Sociais -->
    <div class="email-subscription">
      <h2>
        Tem um problema pra resolver? <br />
        <span class="highlight">Vamos conversar</span>!
      </h2>

      <div class="social-connect">
        <a
          href="https://www.youtube.com/@denetodev"
          target="_blank"
          class="social-link youtube"
        >
          <p-button
            icon="pi pi-youtube"
            label="YouTube"
            [rounded]="true"
          ></p-button>
        </a>
        <a
          href="https://www.instagram.com/denetodev"
          target="_blank"
          class="social-link instagram"
        >
          <p-button
            icon="pi pi-instagram"
            label="Instagram"
            [rounded]="true"
          ></p-button>
        </a>
        <a
          href="https://wa.me/5561986170964"
          target="_blank"
          class="social-link whatsapp"
        >
          <p-button
            icon="pi pi-whatsapp"
            label="WhatsApp"
            [rounded]="true"
          ></p-button>
        </a>
      </div>
    </div>

    <div class="separator"><hr /></div>

    <!-- Seção de Posts do Blog -->
    <div class="blog-posts">
      <div class="section-header">
        <div class="titles">
          <h2>
            Processo, opinião <br />
            <span class="highlight">e bastidores</span>
          </h2>
        </div>
      </div>

      <div class="posts-grid">
        <div *ngFor="let post of blogPosts" class="post-card">
          <div
            class="post-image"
            [style.backgroundImage]="'url(' + post.image + ')'"
          >
            <div class="arrow-icon">
              <a [href]="post.postUrl" target="_blank">
                <p-button
                  icon="pi pi-arrow-right"
                  size="large"
                  [rounded]="true"
                ></p-button>
              </a>
            </div>
          </div>
          <div class="post-content">
            <a [href]="post.postUrl" target="_blank" class="link-card">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
              <div class="post-meta">
                <div class="date-inline">
                  <i class="pi pi-calendar"></i>
                  <span class="date">{{ post.date }}</span>
                </div>
                <p-tag
                  class="category"
                  severity="warn"
                  value="{{ post.category }}"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
