@use "../../../assets/styles/variables" as vars;

.container {
  font-family: vars.$font-family-primary;
  font-weight: vars.$font-weight-semibold;
  font-size: 3.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: vars.$color-black;
}
